script(src='//cdn.ckeditor.com/4.11.1/standard/ckeditor.js')
.form-group
  label(for="title") 공모전명
  input.form-control(type="text", name="title", placeholder="Title", value=contest.title)
.form-group
  label(for="sponsor") 주최사
  input.form-control(type="text", name="sponsor", placeholder="Sponsor", value=contest.sponsor)

.form-group
  label(for="intro") 요약
  textarea.form-control(name="intro", rows="5")= contest.intro

.form-group
  lable(for="details") 세부정보
  textarea#details
  script.
    CKEDITOR.replace( 'details',{
      filebrowserUploadUrl:'/upload',
    });

.form-group
  label(for="content") 공모요강
  textarea.form-control(name="content", rows="5")= contest.content

.form-group
  label(for="tags") Tags
  input.form-control(type="text", name="tags", placeholder="tags separated by spaces", value=contest.tags ? contest.tags.join(" ") : "")

.form-group
  label(for="category") 공모분야
  br
  input(type='radio',name='area', value='1',data='기획/아이디어')
  label(for='idea') 기획/아이디어
  br
  input(type='radio',name='area', value='2',data='광고/마케팅')
  label(for='ad') 광고/마케팅
  br
  input(type='radio',name='area', value='3',data='영상/UCC/사진')
  label(for='video') 영상/UCC/사진
  br
  input(type='radio',name='area', value='4',data='디자인/캐릭터/웹툰')
  label(for='design') 디자인/캐릭터/웹툰
  br
  input(type='radio',name='area', value='5',data='웹/모바일/플래시')
  label(for='web') 웹/모바일/플래시
  br
  input(type='radio',name='area', value='6',data='문학/글/시나리오')
  label(for='senario') 문학/글/시나리오
  br
  input(type='radio',name='area', value='7',data='게임/소프트웨어')
  label(for='sw') 게임/소프트웨어

link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
script(src='//code.jquery.com/ui/1.8.18/jquery-ui.min.js')
script.
  $(function() {
  $("#startdate, #enddate").datepicker({
  dateFormat: 'yy.mm.dd'
  });
  });

.form-group
  lable(for="Period") 접수기간
  input#startdate(type='text', placeholder='접수시작 날짜', value=contest.start)
  |  ~
  input#enddate(type='text', placeholder='접수마감 날짜', value=contest.end)


.form-group
  label(for='InputFile') 포스터첨부
  br
  input#ex_file(type='file', name='poster', value=contest.file)

hr
.form-group
  label(for="host") 담당자
  input.form-control(type="text", name="host", placeholder="Host", value=contest.host)
.form-group
  label(for="contact") 연락처
  input.form-control(type="text", name="contact", placeholder="Contact", value=contest.contact)
.form-group
  label(for="contact_email") 이메일
  input.form-control(type="text", name="contact_email", placeholder="Contact_Email", value=contest.contact_email)
